<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.albc.dao.AlbcTotrxDao" >
  <select id="selectListByDeliveryLotNumber" resultType="Map">
SELECT #{lotNumber,jdbcType=VARCHAR} LOT_NUMBER 
      ,MTRH.REQUEST_NUMBER
      ,MTRL.LINE_NUMBER REQUEST_LINE_NUMBER
      ,MSI.SEGMENT1 ITEM_NUMBER
      ,MSI.DESCRIPTION ITEM_DESC
      ,WDD.DELIVERY_ID
	  ,WDD.ORGANIZATION_ID
	  ,WDD.INVENTORY_ITEM_ID
	  ,WDD.SOURCE_HEADER_NUMBER
	  ,WDD.SOURCE_LINE_NUMBER
FROM apps.WSH_DELIVERABLES_V WDD
    ,apps.MTL_TXN_REQUEST_LINES MTRL
    ,apps.MTL_TXN_REQUEST_HEADERS MTRH
    ,apps.XYG_ALI_SYSTEM_ITEMS_VL MSI
WHERE 1=1
AND EXISTS (
   SELECT 1
   FROM apps.MTL_ONHAND_QUANTITIES MLN
   WHERE MLN.LOT_NUMBER=#{lotNumber,jdbcType=VARCHAR}
   AND MLN.INVENTORY_ITEM_ID=WDD.INVENTORY_ITEM_ID
   AND MLN.ORGANIZATION_ID=WDD.ORGANIZATION_ID
)
AND WDD.CONTAINER_FLAG='N'
AND WDD.DELIVERY_ID=#{deliveryId,jdbcType=BIGINT}
AND MTRL.LINE_ID=WDD.MOVE_ORDER_LINE_ID
AND MTRH.HEADER_ID=MTRL.HEADER_ID
AND MSI.INVENTORY_ITEM_ID=WDD.INVENTORY_ITEM_ID
AND MSI.ORGANIZATION_ID=WDD.ORGANIZATION_ID
AND NVL(WDD.LOT_NUMBER,#{lotNumber,jdbcType=VARCHAR})=#{lotNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectResListByDeliveryId" resultType="Map">
SELECT OH.ORDER_NUMBER
      ,OL.LINE_NUMBER
      ,MSI.SEGMENT1 ITEM_NUMBER
      ,MSI.DESCRIPTION ITEM_DESC
      ,MR.LOT_NUMBER
      ,MR.SUBINVENTORY_CODE
      ,MIL.SEGMENT1 LOCATOR_CODE
      ,MIL.INVENTORY_LOCATION_ID LOCATOR_ID
      ,MR.RESERVATION_UOM_CODE
      ,MR.RESERVATION_QUANTITY
      ,ROUND(MR.RESERVATION_QUANTITY*apps.xyg_wip_pkg.XYG_WIP_UOM_RATE(MR.inventory_item_id,MR.RESERVATION_UOM_CODE,'BOX'),2) RESERVATION_BOX_QTY
      ,MR.RESERVATION_ID
FROM apps.MTL_RESERVATIONS_ALL_V MR
    ,apps.XYG_ALI_SYSTEM_ITEMS_VL MSI
    ,apps.OE_ORDER_LINES_ALL OL
    ,apps.OE_ORDER_HEADERS_ALL OH
    ,apps.MTL_ITEM_LOCATIONS MIL
    ,apps.WSH_SHIPPING_PARAMETERS WSP
WHERE 1=1
AND MR.DEMAND_SOURCE_TYPE_ID=2
AND MSI.INVENTORY_ITEM_ID=MR.INVENTORY_ITEM_ID
AND MSI.ORGANIZATION_ID=MR.ORGANIZATION_ID
AND OL.LINE_ID=MR.DEMAND_SOURCE_LINE_ID
AND OH.HEADER_ID=OL.HEADER_ID
AND MIL.INVENTORY_LOCATION_ID(+)=MR.LOCATOR_ID
AND MIL.ORGANIZATION_ID(+)=MR.ORGANIZATION_ID
AND WSP.ORGANIZATION_ID=MR.ORGANIZATION_ID
AND (WSP.DEFAULT_STAGE_SUBINVENTORY!=MR.SUBINVENTORY_CODE OR MR.SUBINVENTORY_CODE IS NULL)
AND MR.DEMAND_SOURCE_LINE_ID IN (
   SELECT SOURCE_LINE_ID
   FROM apps.WSH_DELIVERABLES_V WDD
   WHERE WDD.DELIVERY_ID=#{deliveryId,jdbcType=BIGINT})
ORDER BY OH.HEADER_ID,OL.LINE_ID
  </select>
  <select id="selectByDeliveryName" parameterType="java.util.Map" resultType="Map">
SELECT WND.NAME DELIVERY_NAME
      ,WND.STATUS_NAME
	  ,WND.DELIVERY_ID
	  ,WND.ORGANIZATION_ID
	  ,(SELECT SUM(ROUND(WDD.REQUESTED_QUANTITY *
		           apps.xyg_wip_pkg.XYG_WIP_UOM_RATE(WDD.INVENTORY_ITEM_ID,
		                                             WDD.REQUESTED_QUANTITY_UOM,
		                                             'BOX')
		            )) REQUESTED_QUANTITY_BOX
		FROM apps.WSH_DELIVERABLES_V WDD
		WHERE 1=1
		AND WDD.CONTAINER_FLAG='N'
		AND WDD.DELIVERY_ID=WND.DELIVERY_ID) REQUESTED_QUANTITY_BOX
FROM apps.WSH_NEW_DELIVERIES_V WND
WHERE 1=1
AND WND.STATUS_CODE='OP'
AND WND.NAME = #{deliveryName,jdbcType=VARCHAR}
AND WND.ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </select>
  <select id="importTotrx" statementType="CALLABLE" parameterType="java.util.Map">
    {call APPS.XYG_ALI_TOTRX_PKG.IMPORT_TOTRX(
     #{message,mode=OUT,jdbcType=VARCHAR}
    ,#{code,mode=OUT,jdbcType=BIGINT}
    ,#{batchId,mode=IN,jdbcType=BIGINT}
    ,#{organizationId,mode=IN,jdbcType=INTEGER}
    ,#{transactionDate,mode=IN,jdbcType=VARCHAR}
    ,#{defaultQtyFlag,mode=IN,jdbcType=VARCHAR}
    ,#{userId,mode=IN,jdbcType=BIGINT})}
  </select>
</mapper>