<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.albc.dao.AlwContainerDao" >
  <select id="selectHeaderByBatchId" resultType="Map">
SELECT HEADER_ID
			,BATCH_ID
			,CONTAINER_SEQ
			,CONTAINER_NAME
			,DESCRIPTION
			,CONTAINER_X
			,CONTAINER_Y
			,FILL_FLAG
			,FILL_RATE
			,CREATED_BY
			,CREATION_DATE
			,LAST_UPDATED_BY
			,LAST_UPDATE_DATE
			,LAST_UPDATE_LOGIN
			,ATTRIBUTE_CATEGORY
			,ATTRIBUTE1
			,ATTRIBUTE2
			,ATTRIBUTE3
			,ATTRIBUTE4
			,ATTRIBUTE5
			,ATTRIBUTE6
			,ATTRIBUTE7
			,ATTRIBUTE8
			,ATTRIBUTE9
			,ATTRIBUTE10
			,ATTRIBUTE11
			,ATTRIBUTE12
			,ATTRIBUTE13
			,ATTRIBUTE14
			,ATTRIBUTE15
 FROM apps.XYG_ALW_CONTAINER_HEADERS
WHERE BATCH_ID = #{batchId,jdbcType=BIGINT}
ORDER BY CONTAINER_SEQ
  </select>
  <select id="selectLineByHeaderId" resultType="Map">
SELECT  LINE_ID
			,HEADER_ID
			,BATCH_ID
			,LINE_SEQ
			,GRAPH_POOL_ID
			,GRAPH_SEQ
			,GRAPH_NAME
			,GRAPH_DESC
			,LENGTH
			,WIDTH
			,POS01
			,POS02
			,POS03
			,POS04
			,CREATED_BY
			,CREATION_DATE
			,LAST_UPDATED_BY
			,LAST_UPDATE_DATE
			,LAST_UPDATE_LOGIN
			,ATTRIBUTE_CATEGORY
			,ATTRIBUTE1
			,ATTRIBUTE2
			,ATTRIBUTE3
			,ATTRIBUTE4
			,ATTRIBUTE5
			,ATTRIBUTE6
			,ATTRIBUTE7
			,ATTRIBUTE8
			,ATTRIBUTE9
			,ATTRIBUTE10
			,ATTRIBUTE11
			,ATTRIBUTE12
			,ATTRIBUTE13
			,ATTRIBUTE14
			,ATTRIBUTE15
 FROM apps.XYG_ALW_CONTAINER_LINES_V
WHERE HEADER_ID = #{headerId,jdbcType=BIGINT}
ORDER BY LINE_SEQ
  </select>
  <select id="selectGraphByHeaderId" resultType="Map">
SELECT CONTAINER_GRAPH_ID
			,HEADER_ID
			,GRAPH_COMB_SEQ
			,BATCH_ID
			,LINE_SEQ
			,GRAPH_POOL_ID
			,GRAPH_SEQ
			,GRAPH_NAME
			,GRAPH_DESC
			,LENGTH
			,WIDTH
			,POS01
			,POS02
			,POS03
			,POS04
			,CREATED_BY
			,CREATION_DATE
			,LAST_UPDATED_BY
			,LAST_UPDATE_DATE
			,LAST_UPDATE_LOGIN
 FROM apps.XYG_ALW_CONTAINER_GRAPHS_V
WHERE HEADER_ID = #{headerId,jdbcType=BIGINT}
ORDER BY LINE_SEQ
  </select>
</mapper>