<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.ald.dao.RGDao" >
  <select id="selectForCustomer" parameterType="com.jebms.comm.entity.SearchInfo" resultType="java.util.HashMap">
	    SELECT id customerId
					 ,customer_name customerName
					 ,customer_code customerCode
		 FROM bw_customer
		 WHERE 1=1
		 ${sqlCondition}
		order by 2
  </select>
</mapper>