<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.ald.dao.VerifyCodeDao" >
  <select id="updateVerifyCode" statementType="CALLABLE" parameterType="java.util.Map">
    {call APPS.XYG_ALD_LOGIN_PKG.UPDATE_VERIFY_CODE(
    #{verifyCodeId,mode=IN,jdbcType=BIGINT}
    ,#{userName,mode=IN,jdbcType=VARCHAR}
    ,#{workTelephone,mode=IN,jdbcType=VARCHAR}
    ,#{validate,mode=IN,jdbcType=VARCHAR}
    ,#{code,mode=OUT,jdbcType=BIGINT}
    ,#{message,mode=OUT,jdbcType=VARCHAR})}
  </select>
</mapper>